.taskList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 25px;

  margin-top: 30px;
  width: 100%;
}

@media (max-width: 992px) {
  .taskList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .taskList {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}